{
  "extends": [
    "react-app",
    "@hh.ru/eslint-config"
  ],
  "import/resolver": {
    "node": {
        "moduleDirectory": [
            "node_modules",
            "src/"
        ]
    }
  }
}
