version: "3.7"

services:
  postgres:
    image: postgres:11.7-alpine
    restart: always
    volumes:
      - ./backend/scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: cp_helper
      POSTGRES_DB: cp_helper
      POSTGRES_USER: cp_helper       
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cp_helper"]
      interval: 10s
      timeout: 5s
      retries: 5

  cp-helper-backend:
    build:
      dockerfile: Dockerfile
      context: ./backend
    depends_on:
      - postgres
    restart: always
    ports:
      - "9999:9999"
      - "5005:5005"

  cp-helper-frontend:
    build:
      dockerfile: Dockerfile
      context: ./frontend
    restart: always
    ports:
      - "3000:3000"
    links:
      - cp-helper-backend
