.popup-search {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);

    &__field {
        background-color: white;
        width: 70%;
        padding: 20px;
        position: fixed;
        left: 15%;
        right: 15%;
        top: 40%;
    }

    &__close {
        margin: -15px -15px 0 0;
    }
}

@media (max-width: 767px) {
    .popup-search {
        &__field {
            width: 80%;
            left: 5%;
            right: 5%;
        }
    }
}
