.commercial-offer-section {
    font-family: ProximaNovaCond, Arial, sans-serif;
    color: #333;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__offer {
        margin-bottom: 15px;
    }

    &__btn {
        margin-top: 30px;
    }

    &__filter {
        display: flex;
        margin: 8px -10px 8px 0;
    }

    &__filter-info {
        margin-top: 5px;
    }
}

@media (max-width: 767px) {
    .commercial-offer-section {
        font-size: 14px;

        &__header {
            flex-wrap: wrap;
        }

        &__filter {
            flex-wrap: wrap;
        }

        &__btn-filter {
            width: 100%;

            & > button {
                width: 100%;
            }
        }

        &__table {
            overflow-x: scroll;
        }
    }
}
