.commercial-offer-section {
    font-family: ProximaNovaCond, Arial, sans-serif;
    color: #333;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__offer {
        margin-bottom: 15px;
    }

    &__btn {
        margin-top: 30px;
    }

    &__filter {
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    &__btn-filter {
        width: 51%;
    }
}
