.tracked-company-search {
    width: 80%;

    &__title {
        margin: 20px 0 10px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tracked-company-search {
        width: 100%;
    }
}
