.search-history {
    font-family: ProximaNovaCond, Arial, sans-serif;
    margin: 40px 0;

    &__title {
        color: #333;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header {
        display: flex;
        border-bottom: 1px solid currentColor;
        color: #333;
        font-size: 14px;
        font-weight: bold;

        &-item {
            width: 50%;
            padding: 8px;
        }
    }
}

@media (max-width: 767px) {
    .search-history {
        &__title {
            flex-wrap: wrap;
        }
    }
}
