
.company-search-section {
    &__search {
        display: flex;
    }

    &__item {
        display: flex;
        width: 45%;
    }

    &__btn {
        width: auto;
    }
}

@media (max-width: 767px) {
    .company-search-section {
        &__search {
            flex-wrap: wrap;
        }

        &__item {
            width: 100%;
        }

        &__btn {
            width: 100%;

            & > button {
                width: 100%;
            }
        }
    }
}
