.search {
    display: flex;
    &__areaselect {
        margin-right: 10px;
    }
    &__select {
        flex-grow: 7;
        position: relative;
    }
    &__btn {
        flex-grow: 3;
        margin-left: 10px;
    }
}
