.hh-button-icon {
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: none;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
