.settings {
    position: relative;

    &__title {
        margin: 20px 0;
    }

    &__add {
        text-align: center;
        margin-bottom: 20px;
    }

    &__btn {
        height: 150px;
    }
}
