.footer {
    background-color: #212122;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
}
