.tab {
    margin-top: 20px;
    &__element {
        font-family: ProximaNovaCond, Arial, sans-serif;
        padding: 10px;
        display: flex;
        justify-content: center;
            &_active {
                background-color: #eee;
            }
    }
}

.tab-content {
    display: block;
    border: 1px solid  #eee;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.content {
    padding-bottom: 80px;
}
