.tab {
    margin-top: 20px;

    &__element {
        font-family: ProximaNovaCond, Arial, sans-serif;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: 4px 4px 0 0;
        font-size: 14px;
        text-align: center;

        &_active {
            background-color: #eee;
            font-weight: bold;
        }
    }
}

.tab-content {
    display: block;
    border: 1px solid  #eee;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.content {
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .tab {
        &__element {
            justify-content: left;
        }
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .tab {
        &__element {
            padding: 4px;

            &_active {
                font-weight: normal;
            }
        }
    }
}
