.competitors-list-section {
    font-family: ProximaNovaCond, Arial, sans-serif;
    color: #333;
    position: relative;
    &__competitors{
        margin-top: 20px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    &__add {
        text-align: center;
        margin-bottom: 20px;
    }
    &__btn {
        display: flex;
        justify-content: space-between;
    }
    &__loader {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__search {
        background-color: white;
        width: 70%;
        padding: 20px;
        position: fixed;
        left: 15%;
        right: 15%;
        top: 40%;
    }
}

.background-section {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.close {
    margin: -15px -15px 0 0;
}
