.competitors-list-section {
    font-family: ProximaNovaCond, Arial, sans-serif;
    color: #333;
    position: relative;

    &__title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__date {
        display: flex;
        justify-content: center;
    }

    &__competitors {
        margin-top: 20px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    &__add {
        margin: 30px 0 20px;
        text-align: center;
    }

    &__btn {
        display: flex;
        justify-content: space-between;
    }

    &__loader {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .competitors-list-section {
        &__search {
            width: 85%;
            left: 5%;
            right: 5%;
        }
    }
}
