.competitors-list-section {
    font-family: ProximaNovaCond, Arial, sans-serif;
    color: #333;
    position: relative;
    &__competitors{
        margin-top: 20px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    &__add {
        margin: auto;
        height: 30px;
        width: 30px;
    }
    &__btn {

    }
}
