.settings-weights {
    border: 1px solid #eee;
    padding: 20px 10px 20px 20px;
    box-sizing: border-box;
    font: 12px/14px ProximaNovaCond, Arial, sans-serif;
    margin-bottom: 15px;

    &__title {
        margin-bottom: 15px;
    }

    &__btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}
